﻿
@{
    ViewBag.Title = "Consultas GeoAPI";
}

<h2>Consultas GEOAPI</h2>

<button id="consultarDirecciones" type="button">Consultar Direcciones</button>
<div id="respuesta"></div>

<script>
    jQuery(document).ready(function ($) {
        $("#consultarDirecciones").click(function(e){
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetListaDireccionesDesdeFichero")",
                success: function (response) {
                    $('#respuesta').html(response);
                },
            });
        });
    });
</script>
